.home{
    min-height: 115vh;
    background-image: url(../assets/images/destiny2-traveler-2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 992px) {
  .gc-main-container{
    width: 60%!important;
  }  
}