.img-column-container{
    width: 100%;
}
.img-icon{
    width:20%;
    padding: 1px;
}

.mods-column-container{
    width: 100%;
}

.mod-icon{
    width:35px;
}
/*Adds shadow to ty*/
.overlay-text {
    color: #FFFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Adjust the shadow values as needed */
    font-weight: 'bold';
}

.overlay-container {
    position: relative;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) to control the overlay transparency */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img-icon{
        width:25%;
        padding: 1px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .img-icon{
        width:15%;
        padding: 1px;
    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img-icon{
        width:25%;
        padding: 1px;
    }
    .img-column-container{
        padding: 10px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 2200px) {
    .overlay-container {
        width: 1280px;
        height: 720px; 
    }
    
}